<% layout("/layouts/boilerplate") %>

<div class="alert alert-warning col-6 offset-3" role="alert"">
    <div>
      <h3 class="warning-heading"style="text-align: center;">
        <%= statusCode %>
      </h3>
      <p style="text-align: center;">
        <%= message %>
      </p>
    </div>
  </div>