<% layout("/layouts/boilerplate") %>

    <div class="row">
        <div class="col-8 offset-2">

            <h1>Create new listings</h1><br>

            <body>

                <form class="needs-validation" novalidate action="/listings" method="post">

                    <div>
                        <label for="title" class="form-label">Title</label>
                        <input class="form-control" type="text" name="listing[title]" placeholder="Enter Title"
                            required>
                        <div class="valid-feedback">Title looks good!</div>
                        <div class="invalid-feedback">Title should be valid!</div>
                    </div><br><br>

                    <div>
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" name="listing[description]" id="description"
                            placeholder="Enter description" required></textarea>
                        <div class="valid-feedback">Description looks good!</div>
                        <div class="invalid-feedback">Invalid description!</div>
                    </div><br><br>

                    <div>
                        <label for="image" class="form-label">Image URL</label>
                        <input class="form-control" type="text" name="listing[image][url]" placeholder="Enter image url/link">
                    </div><br><br>

                    <div class="row">
                        <div class="col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input class="form-control" type="number" name="listing[price]" placeholder="Enter Price"
                                required>
                            <div class="valid-feedback">Price looks good!</div>
                            <div class="invalid-feedback">Invalid price!</div>
                            <br><br>
                        </div>

                        <div class="col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input class="form-control" type="text" name="listing[country]" placeholder="Enter Country"
                                required>
                                <div class="valid-feedback">Country looks good!</div>
                            <div class="invalid-feedback">Invalid country name!</div>
                            <br><br>
                        </div>
                    </div>
                    <div>
                        <label for="location" class="form-label">Location</label>
                        <input class="form-control" type="text" name="listing[location]" placeholder="Enter State"
                            required>
                            <div class="valid-feedback">Location looks good!</div>
                            <div class="invalid-feedback">Invalid location name!</div>
                    </div><br><br>

                    <button class="btn btn-dark add-btn col-12">Save</button>

                </form><br><br>
            </body>

        </div>
    </div>